<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="DatabaseModel" connectionString="data source=&quot;142.4.212.38, 14330&quot;;initial catalog=basketball;persist security info=True;user id=Administrator;password=GSfs5ydYJf7i7fjdTGyh3glCVC9Z3L4S7oahO2P;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="basketballEntities" connectionString="metadata=res://*/App_Code.Database.DatabaseModel.csdl|res://*/App_Code.Database.DatabaseModel.ssdl|res://*/App_Code.Database.DatabaseModel.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;142.4.212.38, 14330&quot;;initial catalog=basketball;persist security info=True;user id=Administrator;password=GSfs5ydYJf7i7fjdTGyh3glCVC9Z3L4S7oahO2P;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="basketballEntities1" connectionString="metadata=~/bin/App_Code\Database\dbModel.csdl|~/bin/App_Code\Database\dbModel.ssdl|~/bin/App_Code\Database\dbModel.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;142.4.212.38, 14330&quot;;initial catalog=basketball;persist security info=True;user id=Administrator;password=GSfs5ydYJf7i7fjdTGyh3glCVC9Z3L4S7oahO2P;multipleactiveresultsets=True;application name=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="basketballEntity" connectionString="metadata=res://*/App_Code.Database.dbModel.csdl|res://*/App_Code.Database.dbModel.ssdl|res://*/App_Code.Database.dbModel.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;142.4.212.38, 14330&quot;;initial catalog=basketball;persist security info=True;user id=Administrator;password=GSfs5ydYJf7i7fjdTGyh3glCVC9Z3L4S7oahO2P;multipleactiveresultsets=True;application name=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="basketballEntities2" connectionString="metadata=res://*/App_Code.Database.dbModel.csdl|res://*/App_Code.Database.dbModel.ssdl|res://*/App_Code.Database.dbModel.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;142.4.212.38, 14330&quot;;initial catalog=basketball;persist security info=True;user id=Administrator;password=GSfs5ydYJf7i7fjdTGyh3glCVC9Z3L4S7oahO2P;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="basketballEntities3" connectionString="metadata=res://*/App_Code.Database.databaseModel.csdl|res://*/App_Code.Database.databaseModel.ssdl|res://*/App_Code.Database.databaseModel.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;142.4.212.38, 14330&quot;;initial catalog=basketball;persist security info=True;user id=Administrator;password=GSfs5ydYJf7i7fjdTGyh3glCVC9Z3L4S7oahO2P;multipleactiveresultsets=True;application name=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="basketballEntities4" connectionString="metadata=~/bin/App_Code\Database\dbModel.csdl|~/bin/App_Code\Database\dbModel.ssdl|~/bin/App_Code\Database\dbModel.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;142.4.212.38, 14330&quot;;initial catalog=basketball;persist security info=True;user id=Administrator;password=GSfs5ydYJf7i7fjdTGyh3glCVC9Z3L4S7oahO2P;multipleactiveresultsets=True;application name=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="dbModelContainer" connectionString="metadata=res://*/App_Code.Database.dbModel.csdl|res://*/App_Code.Database.dbModel.ssdl|res://*/App_Code.Database.dbModel.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;142.4.212.38, 14330&quot;;initial catalog=basketball;persist security info=True;user id=Administrator;password=GSfs5ydYJf7i7fjdTGyh3glCVC9Z3L4S7oahO2P;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="basketballEntities5" connectionString="metadata=res://*/App_Code.Database.Model1.csdl|res://*/App_Code.Database.Model1.ssdl|res://*/App_Code.Database.Model1.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;142.4.212.38, 14330&quot;;initial catalog=basketball;persist security info=True;user id=Administrator;password=GSfs5ydYJf7i7fjdTGyh3glCVC9Z3L4S7oahO2P;multipleactiveresultsets=True;application name=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="basketballEntities6" connectionString="metadata=res://*/Database.dbModel.csdl|res://*/Database.dbModel.ssdl|res://*/Database.dbModel.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;142.4.212.38, 14330&quot;;initial catalog=basketball;persist security info=True;user id=Administrator;password=GSfs5ydYJf7i7fjdTGyh3glCVC9Z3L4S7oahO2P;multipleactiveresultsets=True;application name=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="basketballEntities7" connectionString="metadata=res://*/Database..csdl|res://*/Database..ssdl|res://*/Database..msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;142.4.212.38, 14330&quot;;initial catalog=basketball;persist security info=True;user id=Administrator;password=GSfs5ydYJf7i7fjdTGyh3glCVC9Z3L4S7oahO2P;multipleactiveresultsets=True;application name=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="basketballEntities8" connectionString="metadata=res://*/Database.dbModel.csdl|res://*/Database.dbModel.ssdl|res://*/Database.dbModel.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;142.4.212.38, 14330&quot;;initial catalog=basketball;persist security info=True;user id=Administrator;password=GSfs5ydYJf7i7fjdTGyh3glCVC9Z3L4S7oahO2P;multipleactiveresultsets=True;application name=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="basketballEntities9" connectionString="metadata=res://*/Database.dbModel.csdl|res://*/Database.dbModel.ssdl|res://*/Database.dbModel.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;142.4.212.38, 14330&quot;;initial catalog=basketball;persist security info=True;user id=Administrator;password=GSfs5ydYJf7i7fjdTGyh3glCVC9Z3L4S7oahO2P;multipleactiveresultsets=True;application name=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="basketballEntities10" connectionString="metadata=res://*/Database.dbModel.csdl|res://*/Database.dbModel.ssdl|res://*/Database.dbModel.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;142.4.212.38, 14330&quot;;initial catalog=basketball;persist security info=True;user id=Administrator;password=GSfs5ydYJf7i7fjdTGyh3glCVC9Z3L4S7oahO2P;multipleactiveresultsets=True;application name=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="basketballEntities11" connectionString="metadata=res://*/Database.dbModel.csdl|res://*/Database.dbModel.ssdl|res://*/Database.dbModel.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;142.4.212.38, 14330&quot;;initial catalog=basketball;persist security info=True;user id=Administrator;password=GSfs5ydYJf7i7fjdTGyh3glCVC9Z3L4S7oahO2P;multipleactiveresultsets=True;application name=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>